.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
}


